<div class="wrapper">
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <div class="logo-name">SRO Manager</div>
      </div>
      <i name="menu" id="btn-menu" class="fa-solid fa-bars"></i>
    </div>
    <ul class="nav-itens">
      <li>
        <a href="../../home.php">
          <i class="fa-solid fa-house"></i>
          <span class="links-names">Início</span>
        </a>
      </li>
      <li>
        <a href="../../pages/PDT/PDT001.php">
          <i class="fa-solid fa-basket-shopping"></i>
          <span class="links-names">Produtos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-toolbox"></i>
          <span class="links-names">Serviços</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-regular fa-handshake"></i>
          <span class="links-names">Clientes</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-car"></i>
          <span class="links-names">Veículos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-list-check"></i>
          <span class="links-names">Ordens de serviço</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-user"></i>
          <span class="links-names">Usuários</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-gear"></i>
          <span class="links-names">Configurações</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar">
    <div class="nav-left">
      <div class="company-logo"><i class="fa-solid fa-building"></i></div>
      <div class="company-name">Autoelétrica Marcos</div>
    </div>
    <div class="nav-right">
      <div class="user-name">Usuário</div>
      <div class="user-img"><i class="fa-solid fa-circle-user"></i></div>
      <div class="user-img-down"><i class="fa-solid fa-caret-down"></i></div>
    </div>
  </div>
</div>
