<div class="wrapper">
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <div class="logo-name">SRO Manager</div>
      </div>
      <i name="menu" id="btn-menu" class="fa-solid fa-bars"></i>
    </div>
    <ul class="nav-itens">
      {% set i=0 %} {% for item in menu() %}
      <li>
        <a href="{{ item.page_path }}">
          <i class="{{ item.icon }}"></i>
          <span class="links-names">{{ item.name_menu }}</span>
        </a>
      </li>
      {% set i = i+1 %} {% endfor %}
    </ul>
  </div>
  <div class="navbar">
    <div class="nav-left">
      <div class="company-logo"><i class="fa-solid fa-building"></i></div>
      <div class="company-name">Autoelétrica Marcos</div>
    </div>
    <div class="nav-right">
      <div class="user-name">Usuário</div>
      <div class="user-img"><i class="fa-solid fa-circle-user"></i></div>
      <div class="user-img-down"><i class="fa-solid fa-caret-down"></i></div>
    </div>
  </div>
</div>
