@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,900;1,700&display=swap');

:root{
   --max-height-form: calc(100% - 60px);
   --max-width-form: calc(100% - 280px);
}

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.btn:focus,.btn:active, .form-control:focus {
   outline: none !important;
   box-shadow: none !important;
}

html,
body {
  height: 100%;
}

body {
   background-color: #f5f5f5;
}

.content-body{
   position: absolute;
   height: var(--max-height-form);
   width: var(--max-width-form);
   left: 280px;
   top: 60px;
}